.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.post {
  margin-left: 0;
  width: 24%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

tui-tabs {
  width: 45%;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
}

@media (max-width: 770px) {
  tui-tabs button {
  }

  tui-tabs {
    width: 60%;
  }
}
