<div class="informationCard">
  @for (people of list ; track people.id){
    <div class="userCard">
      <div class="inforUser">
        <div class="detailInformation">
          <div class="avatarUser">
            <img class="avatar" src="{{people.picture}}">
          </div>
          <div class="infor">
                                <span class="name">
                                    Name
                                </span>
            <span class="userName">
                                    &#64;Username
                                </span>
          </div>
        </div>
        <div class="btnFollow">
          <button class="follow">
            Follow
          </button>
        </div>
      </div>

      <div class="bio-user">
                        <span class="bio">
                            For different stages of your workflow, for example, feature proposal, feature improvement, or a bug report
                        </span>
      </div>

      <div class="follower-user">
        <div class="follower">
          <img class="follower-avatar1"
               src="https://www.bing.com/th?q=Random+People&w=120&h=120&c=1&rs=1&qlt=90&cb=1&dpr=3&pid=InlineBlock&mkt=en-WW&cc=VN&setlang=en&adlt=moderate&t=1&mw=247"
               alt="">
          <img class="follower-avatar2"
               src="https://www.bing.com/th?q=Rich+People&w=120&h=120&c=1&rs=1&qlt=90&cb=1&dpr=3&pid=InlineBlock&mkt=en-WW&cc=VN&setlang=en&adlt=moderate&t=1&mw=247"
               alt="">
        </div>
        <div class="Numberoffollowers">
          <p>
            100 người theo dõi
          </p>
        </div>
      </div>

    </div>
  }
</div>
