.main-empty {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 6rem;

}

.tui-text_body-xl{
  margin-top: 1rem;
  font-weight: bold;
  font-size: 2rem;
}
.search_icon{
  width:  5rem;
  height: 5rem;
}
.main{
  display: flex;
  justify-content: center;
  width: 100%;

}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .col {
    width: 50%;
    margin-top: 1rem;
    border-bottom: 1px solid #e1e1e1;
    height: fit-content;
  }
}
::ng-deep.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  outline: none;
  width: 100%;
}
::ng-deep .tui-island {
  position: static !important;
}
::ng-deep .tui_avatar1 {
  width: 4rem !important;
  height: 4rem !important;
}
::ng-deep .tui-island__content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
::ng-deep .tui-island_size_m {
  padding: 0.25rem !important;
}
#flBtn {
  background-color: #262626;
  color: #fff;
}
.tui-island__category {
  text-align: start;
}
#flBtn:hover {
  background-color: #3f3f3f;
}

.top {
  display: flex;
  align-items: start;
  margin-bottom: 1rem;
  .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;
    .tui-island__title {
      width: 10rem;
      font-size: 1.1rem;
    }
  }
}
@media (min-width: 750px) {
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .col {
      width: 60%;
      margin-top: 1rem;
      border-bottom: 1px solid #e1e1e1;
      height: fit-content;
    }
  }
}

@media (min-width: 1000px) {
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .col {
      width: 50%;
      margin-top: 1rem;
      border-bottom: 1px solid #e1e1e1;
      height: fit-content;
    }
  }
}
@media (max-width: 768px) {
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .col {
      width: 70%;
      margin-top: 1rem;
      border-bottom: 1px solid #e1e1e1;
      height: fit-content;
    }
  }
}
@media (min-width: 1500px) {
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .col {
      width: 45%;
      margin-top: 1rem;
      border-bottom: 1px solid #e1e1e1;
      height: fit-content;
    }
  }
}

@media (min-width: 2000px) {
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .col {
      width: 35%;
      margin-top: 1rem;
      border-bottom: 1px solid #e1e1e1;
      height: fit-content;
    }
  }
}

@media (min-width: 3000px) {
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .col {
      width: 30%;
      margin-top: 1rem;
      border-bottom: 1px solid #e1e1e1;
      height: fit-content;
    }
  }
}

@media (min-width: 4000px) {
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .col {
      width: 25%;
      margin-top: 1rem;
      border-bottom: 1px solid #e1e1e1;
      height: fit-content;
    }
  }
}
