<div [ngClass]="users.length > 0 ? 'container' : 'main-empty'">
  <tui-scrollbar> </tui-scrollbar>
  @if (users.length > 0) {
    @for (user of users; track user) {
      <div class="col">
        <tui-island size="m" class="content">
          <div class="tui-island__content">
            <div class="tui-island__figure">
              @if (user) {
                <button
                  tuiButton
                  type="button"
                  size="m"
                  id="flBtn"
                  appearance="custom"
                  class="tui-space_right-3 tui-space_bottom-3"
                >
                  Follow
                </button>
              } @else {
                <button
                  tuiButton
                  type="button"
                  size="m"
                  appearance="outline"
                  class="tui-space_right-3 tui-space_bottom-3"
                >
                  following
                </button>
              }
            </div>
            <div class="all_left">
              <div class="top">
                <tui-avatar
                  class="tui_avatar1"
                  [round]="true"
                  text="alex inkin"
                  [src]="user.photoUrl"
                ></tui-avatar>
                <div class="left">
                  <div class="top_left">
                    <h3 class="tui-island__title">{{ user.userName }}</h3>
                    <p class="tui-island__category">&#64;{{ user.email }}</p>
                  </div>

                  <h4 class="tui-island__category">
                    {{ user.followers.length }} followers
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </tui-island>
      </div>
    }
  } @else {
    <ng-container>
      <div class="tui-text_body-xl">No result match</div>
    </ng-container>
  }
</div>
