body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Noto Sans", sans-serif;
}
.container{
  width: 100%;
  height: 100%;
}
.header{
  height: 8%;
  width: 100%;
}
.main{
  height: 92%;
  width: 100%;
}
.navBar{
  height: 100%;
  width: calc(100% - 200px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}
.logo{
  height: 70px;
  width: 70px;
}
.logo-img{
  height: 50px;
  width: 50px;
}
.navLinks{
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.search{
  height: 55px;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
}

.boderSearch{
  border: 1px solid rgb(219, 216, 216);
  width: 65%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-items: center;
  flex-direction: row;
  align-items: center;
  padding:0px 10px;
  color: rgb(182, 182, 182);
}
input{
  height: 30px;
  width: 450px;
  border:none;
  font-size: 18px;
  margin-left: 5px;
}
.searchAll{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}
.left{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.filter{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 85%;
  justify-content: space-around;
  border-bottom: 1px solid rgb(219, 219, 219);

}
.post{
  margin-left: 5px;
}
.people{
  margin-left: 5px;
}
.group{
  margin-left: 5px;
}
.explore{
  margin-left: 5px;
}
.filter-post{
  display: flex;
  align-items: center;
}

.filter-group{
  display: flex;
  align-items: center;
}

.filter-explore{
  display: flex;
  align-items: center;
}
.right{
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.filter-people{
  height: 55px;
  border-bottom: 1px solid blue;
  display: flex;
  align-items: center;
}
.avatarUser{
  width: 60px;
  height: 60px;
}
.avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.infor{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.detailInformation{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.inforUser{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.name{
  font-weight: bold;
}

.follow{
  width: 87px;
  height: 30px;
  border-radius: 8px;
  color: white;
  background-color: black;
  cursor: pointer;
  font-weight: bold;
}
.follow:hover{
  background-color: rgb(95, 95, 204);

}
.userCard{
  background-color: rgb(249, 244, 244);
  width: 412px;
  height: max-content;
  padding: 10px;
  margin-right: 20px;
  border-radius: 10px;
}
.follower-user {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.follower {
  display: flex;
  width: 80px;
  height: 50px;
  /* background-color: white; */
  align-items: center;
  font-weight: bold;
}


.follower-avatar1 {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.follower-avatar2 {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid white;
  position: relative;
  margin-left: -18px;
}

.bio-user{
}
.informationCard{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 0px 100px;
  margin-top: 50px;
}
