.vegan {
  color: #0081ff;
  cursor: pointer;
  font-size: 1.1rem;
  margin-right: 0.5rem;
}

.capPicture {
  margin-top: 0.625rem;

  display: flex;
  align-items: center;
  // justify-content: center;
}

.name {
  font-size: 1.1rem;
}

.main {
  display: flex;
  justify-content: center;
}

.allPost {
  width: 100%;
  height: 100%;
  columns: 3;
  column-gap: 30px;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

@media (max-width: 4000px) {
  .allPost {
    width: 100%;
    height: 100%;
    columns: 5;
    column-gap: 30px;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 3000px) {
  .allPost {
    width: 100%;
    height: 100%;
    columns: 4;
    column-gap: 30px;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 2000px) {
  .allPost {
    width: 100%;
    height: 100%;
    columns: 3;
    column-gap: 30px;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 1400px) {
  .allPost {
    width: 100%;
    height: 100%;
    columns: 2;
    column-gap: 30px;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 1024px) {
  .allPost {
    width: 100%;
    height: 100%;
    columns: 1;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
}

.post {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 4px 12px 0 rgba(0, 0, 0, 0.07);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: fit-content;
  break-inside: avoid;
}

.capAndReaction {
  padding: 0 15px;
}

.picture-post1 {
  width: 100%;
  cursor: pointer;
}

.picture1 {
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.reaction {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.tymAndCmt {
  display: flex;
  width: 30%;
  /* background-color: red; */
  justify-content: space-between;
}

::ng-deep tui-svg {
  color: #262626 !important;
}

.heartBtnActive {
  ::ng-deep tui-svg {
    color: #cc4647 !important;
    fill: #cc4647 !important;
  }
}
::ng-deep.t-item {
  padding: 0 !important;
  justify-content: flex-start !important;
}
.btn_picture {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.photolist {
  z-index: 0;
  position: relative;
  display: inline-block;
  .btn_picture {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 5px;
  }
}
.button {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  opacity: 1;
}
.noPost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 10rem 0rem;
}
.iconNoPicture {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
}
.titleNoPost {
  margin-block-end: 3rem;
  font-size: 2rem;
}
.btn_createPost {
  display: flex;
  justify-content: center;
  align-items: center;
}
.material-symbols-outlined {
  font-size: 5rem;
}
.circlePicture {
  border: 3px solid black;
  border-radius: 50%;
  width: 11rem;
  height: 11rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.circlePicture:hover {
  background-color: #262626;
  color: white;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  opacity: 0.6;
  z-index: 1;
  width: 2rem !important;
  height: 2rem;
  border-radius: 50%;
}
