

.main {
  padding: 0px 10rem;
}

.vegan {
  color: blue;
}

.allPost {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  //align-items: center;
  flex-direction: row;
  margin-top: 25px;
  //height: 1561px;
  //width: 1270px;
}

.post1 {
  width: 20rem;

  margin:  1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  /* border: 1px solid rgb(224, 219, 219); */
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding:  1rem ;
}



.picture-post1 {

  width : 100%;

}

.picture1 {
  border-radius: 10px;
 width: 100%;

}

.reaction {
  display: flex;
  width: 100%;
  justify-content: space-between;

}

.tymAndCmt {
  display: flex;
  width: 30%;
  /* background-color: red; */
  justify-content: space-between;
}

.capPicture {
  margin-top: 10px;
}

  ::ng-deep tui-svg{
    color: #262626 !important;
  }

.heartBtnActive {
  ::ng-deep tui-svg {
    color: #cc4647 !important;
    fill: #cc4647 !important;
  }
}



