.vegan {
  color: #0081ff;
  cursor: pointer;
  font-size: 1.1rem;
  margin-right: 0.5rem;
}

.main {
  display: flex;
  justify-content: center;
}

.allPost {
  width: 100%;
  height: 100%;
  columns: 3;
  column-gap: 30px;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

@media (max-width: 4000px) {
  .allPost {
    width: 100%;
    height: 100%;
    columns: 5;
    column-gap: 30px;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 3000px) {
  .allPost {
    width: 100%;
    height: 100%;
    columns: 4;
    column-gap: 30px;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 2000px) {
  .allPost {
    width: 100%;
    height: 100%;
    columns: 3;
    column-gap: 30px;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 1400px) {
  .allPost {
    width: 100%;
    height: 100%;
    columns: 2;
    column-gap: 30px;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 1024px) {
  .allPost {
    width: 100%;
    height: 100%;
    columns: 1;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
}

.post {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 4px 12px 0 rgba(0, 0, 0, 0.07);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: fit-content;
  break-inside: avoid;
}

.capAndReaction {
  padding: 0 15px;
}

.picture-post1 {
  width: 100%;
  cursor: pointer;
}

.picture1 {
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.reaction {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.tymAndCmt {
  display: flex;
  width: 30%;
  /* background-color: red; */
  justify-content: space-between;
}

.capPicture {
  margin-top: 0.625rem;

  display: flex;
  align-items: center;
  // justify-content: center;
}

::ng-deep tui-svg {
  color: #262626 !important;
}

.heartBtnActive {
  ::ng-deep tui-svg {
    color: #cc4647 !important;
    fill: #cc4647 !important;
  }
}
.name {
  font-size: 1.1rem;
}

.photolist {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 1rem;
}
.pagination {
  margin-top: 1rem;
}
