<div id="container">
  <div id="category-container">
    <div class="header">
      <h1>
        <span>Your</span>
        <span style="color: #A7373A"> inclinations</span>
      </h1>
      <div class="notion">
        <p>Select categories which you want to explore on your own.</p>
      </div>
    </div>
    <div class="main">
      <div tuiCarouselButtons class="wrapper">
        <tui-carousel
          #carousel
          class="carousel"
        >
        </tui-carousel>
      </div>
    </div>
    <div class="footer"></div>
  </div>
</div>

