#container{
  width: 100%;
  height: 100%;
  background-image: url('../../../assets/images/category-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 200%;

  // category container
  #category-container{
    width: 1000px;
    height: 600px;
    background-color: white;
    border-radius: 8px;
    padding: 23px;
    display: flex;
    flex-direction: column;

    //header
    .header{
      .notion{
        width: 262px;
        height: 48px;
      }
    }

    //main


    //footer
  }
}
