#container {
  width: 100%;
  height: 100%;
  background-image: url('../../../assets/images/category-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 200%;

  // category container
  #category-container {
    width: 1000px;
    height: 600px;
    background-color: white;
    border-radius: 8px;
    padding: 23px;
    display: flex;
    flex-direction: column;

    //header
    .header {
      margin-bottom: 15px;

      .notion {
        width: 262px;
        height: 48px;
      }
    }

    //main
    .main {
      width: 957px;
      height: 350px;

      .category-item {
        width: 160px;
        height: 160px;
        background: #F5F5F5;
        border-radius: 8px;
        margin-right: 30px;
        display: flex;
        flex-direction: column;
        cursor: pointer;

        .item-pic {
          width: 100%;
          height: 80%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .item-name {
          width: 100%;
          height: 20%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 16px;
          font-weight: bold;
        }
      }
    }

    //footer
    .footer {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 20px;
    }
  }
}

#logo {
  font-size: 60px;
}

.inclinations {
  color: #a7373a
}

// ngClass
.category-item {
  width: 160px;
  height: 160px;
  background: #F5F5F5;
  border-radius: 8px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.cate-des {
  font-weight: bold;
}

.active {
  width: 160px;
  height: 160px;
  background: #262626;
  border-radius: 8px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  .item-pic {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .item-name {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: white;

  }
}

// @media (max-width: 4000px) {
//   #container {
//     #category-container {
//       width: 130rem;
//       height: 80rem;
//       padding: 60px;

//       .header {
//         height: 20rem;
//       }

//       .main {
//         width: 130rem;

//         .category-item {
//           .item-pic {
//             height: 100%;
//           }

//           .item-name {
//             font-size: 60px;
//           }
//         }
//       }
//     }
//   }

//   .inclinations {
//     font-size: 60px;
//   }

//   .your {
//     font-size: 60px;

//   }

//   .cate-des {
//     font-size: 30px;
//     line-height: 2rem;
//     width: 40rem;

//   }

//   .item-pic material-symbols-outlined {
//     font-size: 60px;
//   }

//   #logo {
//     font-size: 10rem;
//   }
// }