<div id="profile-container">
  <div class="profile">
    <div class="left">
      <div class="information">
        <h2 class="name">{{ profile.firstName }} {{ profile.lastName }}</h2>
        <span class="userName">{{ "@" + profile.userName }}</span>
        <span class="bio">{{ profile.bio }}</span>
        @if (profile.followers && profile.followers.length > 0) {
          <div class="info">
            <div class="follower">
              <img
                class="follower-avatar1"
                src="https://www.bing.com/th?q=Random+People&w=120&h=120&c=1&rs=1&qlt=90&cb=1&dpr=3&pid=InlineBlock&mkt=en-WW&cc=VN&setlang=en&adlt=moderate&t=1&mw=247"
                alt=""
              />
              <img
                class="follower-avatar2"
                src="https://www.bing.com/th?q=Rich+People&w=120&h=120&c=1&rs=1&qlt=90&cb=1&dpr=3&pid=InlineBlock&mkt=en-WW&cc=VN&setlang=en&adlt=moderate&t=1&mw=247"
                alt=""
              />
            </div>
            <div class="Numberoffollowers">
              <p>{{ profile.followers.length }} followers</p>
            </div>
          </div>
        } @else {
          <div class="Numberoffollowers">
            <p>0 follower</p>
          </div>
        }
      </div>
    </div>
    <div class="right">
      <div class="avatar">
        <tui-avatar
          [src]="profile.photoUrl"
          [round]="false"
          size="xxl"
        ></tui-avatar>
      </div>

      <div class="edit-btn">
        <button tuiButton appearance="outline" size="m" (click)="openDialog()">Edit</button>
      </div>
    </div>
  </div>
  <div class="tabs">
    <tui-tabs [(activeItemIndex)]="activeItemIndex" class="tabs-container">
      <button
        [disabled]="activeItemIndex === 0"
        [routerLink]="['post']"
        routerLinkActive
        tuiTab
      >
        Posts
      </button>
      <button
        [disabled]="activeItemIndex === 1"
        [routerLink]="['share']"
        routerLinkActive
        tuiTab
      >
        Share
      </button>
      <button
        [disabled]="activeItemIndex === 2"
        [routerLink]="['mention']"
        routerLinkActive
        tuiTab
      >
        Mentor
      </button>
    </tui-tabs>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>

<ng-template
  [tuiDialogOptions]="{ label: 'Update profile', size: 's' }"
  [(tuiDialog)]="this.openAddDialog"
>
  <form [formGroup]="updateForm" (ngSubmit)="submit()">
    <p>
      <tui-input formControlName="userName">User Name</tui-input>
    </p>
    <p>
      <tui-input formControlName="firstName">First Name</tui-input>
    </p>
    <p>
      <tui-input formControlName="lastName">Last Name</tui-input>
    </p>
    <p>
      <tui-input formControlName="bio">Bio</tui-input>
    </p>
    <p>
      <tui-input formControlName="photoUrl">Link Image</tui-input>
    </p>
    <p style="display: flex; justify-content: space-between">
      <button tuiButton size="m" type="submit">Update</button>
      <button tuiButton size="m" type="submit" (click)="closeDialog()">
        Cancel
      </button>
    </p>
  </form>
</ng-template>
