#profile-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .profile {
    height: 30%;
    width: 65%;
    display: flex;
    flex-direction: row;
    align-items: center;

    .left,
    .right {
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h3,
      h5 {
        margin-block-start: 0;
        margin-block-end: 0;
      }
    }
  }

  .tabs {
    height: 10%;
    width: 85%;
  }

  .content {
    height: 60%;
    width: 85%;
  }
}
