<div [ngClass]="list.length > 0 ? 'main' : 'main-empty'">
  <div class="allPost" *ngIf="list.length > 0; else noResult">
    @for (item of list; track item) {
      <div class="post">
        <!--  Picture post -->
        <div class="picture-post">
          <div class="image-post">
            <img
              class="picture1"
              [src]="item.photoUrl[0]"
              alt=""
              (click)="showDialogDetail(templateDetail)"
            />
          </div>
        </div>

        <!--  Bottom post -->
        <div class="bottom">
          <div class="userInfoReport">
            <div class="user-info">
              <!-- avatar-user -->
              <div class="avatar-user">
                <img
                  class="avatar"
                  src="{{ item.creatorId | idToAvatar | async }}"
                  alt=""
                />
              </div>
              <!-- info-user -->
              <div class="info-post">
                <span class="name-user">{{
                  item.creatorId | idToName | async
                }}</span>
                <span class="date">
                  on{{ item.createdAt._seconds * 1000 | date: "medium" }}</span
                >
              </div>
            </div>

            <!-- report-->
            <div class="more">
              <tui-hosted-dropdown #dropdown [content]="content" [open]="false">
                <button
                  class="reaction_button"
                  appearance="cusstom"
                  icon="tuiIconMoreVertical"
                  tuiIconButton
                  type="button"
                  [pseudoHover]="dropdown.open || null"
                ></button>
              </tui-hosted-dropdown>
              <ng-template #content let-activeZone>
                <tui-data-list
                  tuiDataListDropdownManager
                  size="s"
                  [tuiActiveZoneParent]="activeZone"
                >
                  <button *tuiLet="'Report' as itemReport" tuiOption>
                    <span (click)="showDialogReport(templateReport)">
                      {{ itemReport }}
                    </span>

                    <ng-template #templateReport let-observerReport>
                      <form [formGroup]="testForm">
                        <h2 class="reportTitle">Report</h2>

                        <span class="selectProblem">
                          Please select a problem
                        </span>
                        @for (item of listReports; track $index) {
                          <div class="check">
                            <tui-checkbox-labeled
                              class="checkbox"
                              formControlName="testValue{{ $index }}"
                              size="l"
                              (click)="checkBox(item)"
                            >
                            </tui-checkbox-labeled>
                            {{ item }}
                          </div>
                        }

                        <form [formGroup]="testForm2">
                          <label tuiLabel="Description Report">
                            <tui-textarea
                              formControlName="testValue1"
                              [tuiTextfieldLabelOutside]="true"
                            ></tui-textarea>
                          </label>
                        </form>

                        <div class="btn-report">
                          <button
                            appearance="secondary"
                            size="m"
                            tuiButton
                            type="button"
                            (click)="observerReport.complete()"
                          >
                            Cancel
                          </button>

                          <button
                            appearance="primary"
                            size="m"
                            tuiButton
                            type="button"
                            (click)="observerReport.complete(); submit(item.id)"
                          >
                            Submit
                          </button>
                        </div>
                      </form>
                    </ng-template>
                  </button>
                </tui-data-list>
              </ng-template>
            </div>
          </div>

          <!-- post-content-->
          <div class="content">
            <p class="description-preview">
              @for (item of item.hashtag; track $index) {
                <span style="color: #0081ff; margin-left: 2px"
                  >#{{ item }}</span
                >
              }
              {{ item.content }}
            </p>
          </div>
          <div class="reactions">
            <div class="tymAndCmt">
              <button
                icon="tuiIconHeart"
                tuiIconButton
                [ngClass]="isLiked ? 'heartBtnActive' : 'heartBtn'"
                appearance="custom"
                type="button"
                (click)="like()"
                cclass="reaction_button"
              ></button>
              <button
                icon="tuiIconMessageSquare"
                tuiIconButton
                appearance="custom"
                type="button"
                class="reaction_button"
              ></button>
            </div>
            <button
              icon="tuiIconShare"
              tuiIconButton
              appearance="custom"
              type="button"
              class="reaction_button"
            ></button>
          </div>
        </div>
      </div>

      <ng-template #templateDetail>
        <div class="postDetail">
          <div class="left">
            <div class="detail-dialog">
              <tui-carousel
                #carousel
                [style.--tui-carousel-padding]="0"
                style="height: 100%"
                class="blurred-background"
              >
                <ng-container
                  *ngFor="let photo of item.photoUrl; let i = index"
                >
                  <div class="photolist" *tuiItem>
                    <div class="carousel-item">
                      @if (item.photoUrl.length >= 2) {
                        <button
                          class="buttonLeft"
                          appearance="custom"
                          icon="tuiIconChevronLeftLarge"
                          size="s"
                          tuiIconButton
                          type="button"
                          (click)="carousel.prev()"
                          [hidden]="i === 0"
                        ></button>
                        <button
                          class="buttonRight"
                          appearance="custom"
                          icon="tuiIconChevronRightLarge"
                          size="s"
                          tuiIconButton
                          type="button"
                          [hidden]="i === item.photoUrl.length - 1"
                          (click)="carousel.next()"
                        ></button>
                      }
                      <div
                        class="bg-image"
                        [ngStyle]="{
                          'background-image': 'url(' + photo + ')'
                        }"
                      ></div>
                      <div class="bg-text">
                        <img class="pictureDetail" [src]="photo" alt="" />
                      </div>
                    </div>
                  </div>
                </ng-container>
              </tui-carousel>
            </div>
          </div>

          <div class="right">
            <div class="bottom-dialog">
              <div class="content">
                <div class="userInfoReport">
                  <div class="user-info">
                    <!-- avatar-user -->
                    <div class="avatar-user">
                      <img
                        class="avatar"
                        src="{{ item.creatorId | idToAvatar | async }}"
                        alt=""
                      />
                    </div>
                    <!-- info-user -->
                    <div class="info-post">
                      <span class="name-user">{{
                        item.creatorId | idToName | async
                      }}</span>
                      <span class="date">{{
                        item.createdAt._seconds * 1000 | date: "medium"
                      }}</span>
                    </div>
                  </div>

                  <!-- report-->
                  <div class="more">
                    <tui-hosted-dropdown
                      #dropdown
                      [content]="content"
                      [open]="false"
                    >
                      <button
                        appearance="custom"
                        icon="tuiIconMoreVertical"
                        class="reaction_button"
                        tuiIconButton
                        type="button"
                        [pseudoHover]="dropdown.open || null"
                      ></button>
                    </tui-hosted-dropdown>
                    <ng-template #content let-activeZone>
                      <tui-data-list
                        tuiDataListDropdownManager
                        size="s"
                        [tuiActiveZoneParent]="activeZone"
                      >
                        <button *tuiLet="'Report' as itemReport" tuiOption>
                          <span (click)="showDialogReport(templateReport)">
                            {{ itemReport }}
                          </span>

                          <ng-template #templateReport let-observerReport>
                            <form [formGroup]="testForm">
                              <h2 class="reportTitle">Report</h2>
                              <div class="line"></div>

                              <span class="selectProblem">
                                Please select a problem
                              </span>
                              @for (item of listReports; track $index) {
                                <div class="check">
                                  <tui-checkbox-labeled
                                    class="checkbox"
                                    formControlName="testValue{{ $index }}"
                                    size="l"
                                    (click)="checkBox(item)"
                                  >
                                  </tui-checkbox-labeled>
                                  {{ item }}
                                </div>
                              }

                              <form [formGroup]="testForm2">
                                <label tuiLabel="Description Report">
                                  <tui-textarea
                                    formControlName="testValue1"
                                    [tuiTextfieldLabelOutside]="true"
                                  ></tui-textarea>
                                </label>
                              </form>

                              <div class="btn-report">
                                <button
                                  appearance="secondary"
                                  size="m"
                                  tuiButton
                                  type="button"
                                  (click)="observerReport.complete()"
                                >
                                  Cancel
                                </button>

                                <button
                                  appearance="primary"
                                  size="m"
                                  tuiButton
                                  type="button"
                                  (click)="
                                    observerReport.complete(); submit(item.id)
                                  "
                                >
                                  Submit
                                </button>
                              </div>
                            </form>
                          </ng-template>
                        </button>
                      </tui-data-list>
                    </ng-template>
                  </div>
                </div>

                <!-- post-content-->
                <div class="content-dialog">
                  <p class="description-preview">
                    @for (item of item.hashtag; track $index) {
                      <span style="color: #0081ff; margin-left: 2px"
                        >#{{ item }}</span
                      >
                    }
                    {{ item.content }}
                  </p>
                </div>
              </div>

              <div class="reaction">
                <button
                  tuiIconButton
                  type="button"
                  class="reaction_button"
                  appearance="custom"
                  icon="tuiIconHeartLarge"
                  size="m"
                ></button>
                <button
                  tuiIconButton
                  type="button"
                  appearance="custom"
                  class="reaction_button"
                  icon="tuiIconMessageCircleLarge"
                  size="m"
                ></button>
                <button
                  tuiIconButton
                  type="button"
                  class="reaction_button"
                  appearance="custom"
                  icon="tuiIconNavigationLarge"
                  size="m"
                ></button>
              </div>

              <div class="inputAndButton">
                <tui-input
                  class="inputComment"
                  [(ngModel)]="commentValue"
                  [tuiTextfieldCleaner]="true"
                  [tuiTextfieldLabelOutside]="true"
                >
                  Add a comment...
                  <input tuiTextfield type="text" />
                </tui-input>
                <button
                  tuiIconButton
                  type="button"
                  icon="tuiIconSend"
                  appearance="custom"
                  (click)="sendComment(item, commentValue)"
                  [disabled]="commentValue === ''"
                >
                  Button
                </button>
              </div>
            </div>
            <tui-scrollbar>
              <div class="comment">
                @for (comment of comments; track comment) {
                  <div class="userInforDetail">
                    <tui-avatar
                      class="tui-space_top-1"
                      [round]="false"
                      src="{{ comment.authorId | idToAvatar | async }}"
                      size="m"
                    ></tui-avatar>
                    <div class="commentContentAndUserName">
                      <div class="infoDetail">
                        <span class="userName">{{
                          comment.authorId | idToName | async
                        }}</span>
                        <span class="dateDetail">{{
                          comment.createdAt | date
                        }}</span>
                      </div>
                      <div class="commentContent">
                        <span>{{ comment.content }} </span>
                      </div>
                    </div>
                  </div>
                }
              </div>
            </tui-scrollbar>
          </div>
        </div>
      </ng-template>
    }
  </div>
</div>
<ng-template #noResult>
  <img
    class="search_iamge"
    src="../../../../../../assets/images/searchPost.jpg"
    alt=""
  />
  <div class="tui-text_body-xl">No result match</div>
</ng-template>
