<div class="container">
  <div class="nav-bar">
    <div>
      <img class="logo" src="./assets/logo.png" alt="">

    </div>
    <div class="tab-items">
      @for (item of navBarItems; track item.icon; let i = $index){

      <span class="material-symbols-outlined" id="underline" [id]="itemSelected == i ? 'underline':'item'"
        (click)="select(i)">
        {{ item.icon }}
      </span>
      }
    </div>
    <div class="page-info">
      <span class="material-symbols-outlined">
        page_info
      </span>
    </div>
  </div>
</div>