<div class="container">
  <div class="content">
    <div class="ctn">
      <div class="logo">
        <img class="logo1" src="assets/image.png"  alt=""/>
      </div>
      <h1>Imago</h1>
      <div class="title">
        <h3>A <span>picture</span> is worth <br>a thousand <span>words</span></h3>
      </div>
      <button
        tuiButton
        appearance="custom"
        type="button"
        class="tui-space_right-3 tui-space_bottom-3"
      >
        <img class="GG" src="https://cdn-icons-png.flaticon.com/512/300/300221.png" loading="lazy" alt="google logo">
        Sign in with Google
      </button>
    </div>
  </div>
</div>
