<ng-template #icon>
  <tui-avatar size="xs" [avatarUrl]="googleIcon" [rounded]="true"></tui-avatar>
</ng-template>
<div id="login-container">
  <div id="background-login">
    <tui-scrollbar id="background-overlay">
      <div id="cover-login-surface">
        <div id="login-surface">
          <img src="../../../assets/images/logo.png" alt="" />
          <h3 class="tui-text_h3">
            A
            <span class="highlight">picture</span>
            is worth a thousand
            <span class="highlight">words</span>
          </h3>
          <button
            tuiButton
            appearance="outline"
            [icon]="icon"
            (click)="loginWithGoogle()"
          >
            Login with Google
          </button>
        </div>
      </div>
    </tui-scrollbar>
  </div>
</div>