#login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #fff;
}

#background-login {
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/images/background-light.png");
  background-size: auto 250%;
  background-position: center;
  background-repeat: no-repeat;
}

#background-overlay {
  width: 100%;
  height: 100%;
  background: rgba(60, 65, 66, 0.65);
  backdrop-filter: blur(4px);
}

#cover-login-surface {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#login-surface {
  width: 30%;
  min-width: 576px;
  height: 70%;
  min-height: 745px;
  background-color: var(--tui-secondary);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-block: 2rem;
  margin-block: 5rem;

  .tui-text_h3 {
    width: 55%;
  }
}

.highlight {
  width: fit-content;
  color: var(--tui-accent);
}
