
.container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../../assets/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;


}
.content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.ctn{
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column;
z-index: 1;
  width: 400px;
  height: 500px;
  padding: 20px;
  background-color: #fafafa;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo1{
  width: 70px;
  height: 70px;
}

h1{
  font-size: 34px;
  font-weight: bolder;
}

.title{
  width: 320px;
  line-height: 2.5rem;
  padding: 0 19px ;
  h3{
    font-size: 32px;
    font-weight: bold;
  }
}

span{
  color: #a7373a;
}

button{
  margin-top: 20px;
  border: 1px solid rgba(128, 128, 128, 0.3);
  width: 17rem;
}

button:hover{
  background-color: rgba(0, 0, 0, 0.9);
  color: #ffffff;
}

.GG{
  width: 25px;
  height: 25px;
  margin-right: 6%;
}

@media only screen and (max-width: 768px){
  //.container{
  //  width: 100vw;
  //  height: 100%;
  //  background-image: url('../../../assets/background.png');
  //
  //  background-size: cover;
  //}
}
