.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

}

.picture-post {
  width: 100%;

}

.allPost {
  width: 85%;
  height: fit-content;
  columns: 3;
}

.post {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 12px 0 rgba(0, 0, 0, 0.07);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: fit-content;
  break-inside: avoid;
}

@media (max-width: 4000px) {
  .allPost {
    width: 85%;
    height: fit-content;

    columns: 5;
    padding-bottom: 2.5rem;
  }
}

@media (max-width: 3000px) {
  .allPost {
    width: 85%;
    height: fit-content;
    columns: 4;
    padding-bottom: 2.5rem;
  }
}

@media (max-width: 2000px) {
  .allPost {
    width: 85%;
    height: fit-content;
    columns: 3;
    padding-bottom: 2.5rem;
  }
}

@media (max-width: 1400px) {
  .allPost {
    width: 85%;
    height: fit-content;
    columns: 2;
    padding-bottom: 2.5rem;
  }
}

@media (max-width: 1024px) {
  .allPost {
    width: 85%;
    height: fit-content;
    columns: 1;
    padding-bottom: 2.5rem;
  }
}


.btn-star {
  width: 56px;
  height: 56px;
  background-color: black;
  border-radius: 12px;
}

.description-preview {
  font-size: 16px;
}

.star {
  display: flex;
  justify-self: flex-end;
}

#star {
  color: white;
}

.image-post {
  width: 100%;
  height: 60%;
}

.detail-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

#paragraph {
  color: rgba(0, 0, 0, 0.5);
}

.paragraph-preview {
  text-align: justify;
  font-size: 14px;
}

.user-info {
  width: 82%;
  height: 24%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.name-user {
  font-weight: bold;
}

.date {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}

.user-img {
  width: 90px;
  height: 90px;
  align-items: start;
  margin-left: 30px;
}

.avatar-user {
  width: 80px;
  height: 80px;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 17px;
}

.info-post {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.info {
  line-height: 3px;
  margin-top: 30px;
  margin-left: 3px;
}

.preview-name {
  margin-left: 10px;
}

.paragraph-preview {
  text-align: justify;
  font-size: 14px;
}

.content {
  height: 100%;
}

.storie-inside {
  width: 4rem;
}

.icon {
  display: flex;
  align-items: center;
  width: 100%;
  height: 10%;
  justify-content: space-between;

}

.icon1 {
  display: flex;
  width: 35%;
}

.bottom {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reaction {
  display: flex;
  width: 100%;
  justify-content: space-between;

}

.tymAndCmt {
  display: flex;
  width: 30%;
  /* background-color: red; */
  justify-content: space-between;
}

.capPicture {
  margin-top: 0.625rem;
}

::ng-deep tui-svg {
  color: #262626 !important;
}

.heartBtnActive {
  ::ng-deep tui-svg {
    color: #cc4647 !important;
    fill: #cc4647 !important;
  }
}




