<div class="main">
    <div class="main-stories">
        <div class="stories">
            <h2>Stories</h2>
            <div class="bottom-stories">
                @for (story of stories; track $index) {
                <img class="storie-inside" src="{{story.image}}" alt="">
                }
                <!-- <img class="stories-list" src="./assets/stories1.png" alt="">
                <img class="stories-list" src="./assets/stories2.png" alt="">
                <img class="stories-list" src="./assets/stories3.png" alt="">
                <img class="stories-list" src="./assets/stories4.png" alt="">
                <img class="stories-list" src="./assets/stories5.png" alt=""> -->
            </div>
        </div>
        <div class="star">
            <button class="btn-star">
                <span id="star" class="material-symbols-outlined">
                    star
                </span>
            </button>
        </div>
    </div>
    <div class="main-post">
        <div class="allPost">
            @for(item of posts; track item){
            <div class="post">
                <div class="picture-post1">
                    <div class="image-post">
                        <img class="detail-image" [src]="item.image" alt="">
                    </div>
                </div>
                <div class="bottom">
                    <div class="user-info">
                        <div class="avatar-user">
                            <img class="avatar" src="./assets/avatar.png" alt="">
                        </div>
                        <div class="info-post">
                            <span class="name-user">GoVegan</span>
                            <span class="date">on 15 Oct 2019</span>
                        </div>
                    </div>
                    <div class="content">
                        <p class="description-preview"><span style="color: #0081FF;">{{item.tag}}</span>
                            {{item.description}}
                        </p>
                    </div>
                    <div class="reaction">
                        <div class="tymAndCmt">
                            <button icon="tuiIconHeart" tuiIconButton
                                [ngClass]="item.isLiked ? 'heartBtnActive' : 'heartBtn'" appearance="flat" type="button"
                                (click)="like(item.id)" class="heartBtn tui-space_right-3 tui-space_bottom-3"></button>
                            <button icon="tuiIconMessageSquare" tuiIconButton appearance="flat" type="button"
                                class="tui-space_right-3 tui-space_bottom-3"></button>
                        </div>
                        <button icon="tuiIconShare" tuiIconButton appearance="flat" type="button"
                            class="tui-space_right-3 tui-space_bottom-3"></button>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
    <!-- <div class="main-post">
        <div class="list-post">
            @for(item of posts; track item){
            <div class="post">
                <div class="image-post">
                    <img class="detail-image" src="{{item.image}}" alt="">
                </div>
                <div class="bottom">
                    <div class="user-info">
                        <div class="avatar-user">
                            <img class="avatar" src="./assets/avatar.png" alt="">
                        </div>
                        <div class="info-post">
                            <span class="name-user">GoVegan</span>
                            <span class="date">on 15 Oct 2019</span>
                        </div>
                    </div>
                    <div class="content">
                        <p class="description-preview"><span style="color: #0081FF;">{{item.tag}}</span>
                            {{item.description}}
                        </p>
                    </div>
                    <div class="icon">
                        <div class="icon1">
                            <span id="favorite" class="material-symbols-outlined">
                                favorite
                            </span>
                            <span class="material-symbols-outlined">
                                chat_bubble
                            </span>
                        </div>
                        <span class="material-symbols-outlined">
                            ios_share
                        </span>
                    </div>
                </div>
            </div>
            }
        </div>
    </div> -->
</div>
<!-- <div class="row-post">
        <div class="column-post">
            <div class="post">
                <div class="image-post">
                    <img class="detail-image" src="./assets/picture1.png" alt="">
                </div>
                <div class="bottom">
                    <div class="user-info">
                        <div class="avatar-user">
                            <img class="avatar" src="./assets/avatar.png" alt="">
                        </div>
                        <div class="info-post">
                            <span class="name-user">GoVegan</span>
                            <span class="date">on 15 Oct 2019</span>
                        </div>
                    </div>
                    <div class="content">
                        <p class="description-preview"><span style="color: #0081FF;">#vegan
                                #healthy</span> The Best Vegan Chocolate Cake- A quick and easy recipe! It's
                            super moist, rich and full of chocolate
                        </p>
                    </div>
                    <div class="icon">
                        <div class="icon1">
                            <span id="favorite" class="material-symbols-outlined">
                                favorite
                            </span>
                            <span class="material-symbols-outlined">
                                chat_bubble
                            </span>
                        </div>
                        <span class="material-symbols-outlined">
                            ios_share
                        </span>
                    </div>
                </div>
            </div>
            <div class="post">
                <div class="image-post">
                    <img class="detail-image" src="./assets/picture2.png" alt="">
                </div>
                <div class="bottom">
                    <div class="user-info">
                        <div class="avatar-user">
                            <img class="avatar" src="./assets/avatar.png" alt="">
                        </div>
                        <div class="info-post">
                            <span class="name-user">GoVegan</span>
                            <span class="date">on 15 Oct 2019</span>
                        </div>
                    </div>
                    <div class="content">
                        <p class="description-preview"><span style="color: #0081FF;">#sweet
                                #healthy</span> Breakfast ideas
                    </div>
                    <div class="icon">
                        <div class="icon1">
                            <span id="favorite" class="material-symbols-outlined">
                                favorite
                            </span>
                            <span class="material-symbols-outlined">
                                chat_bubble
                            </span>
                        </div>
                        <span class="material-symbols-outlined">
                            ios_share
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="column-post">
            <div class="post">
                <div class="image-post">
                    <img class="detail-image" src="./assets/picture2.png" alt="">
                </div>
                <div class="bottom">
                    <div class="user-info">
                        <div class="avatar-user">
                            <img class="avatar" src="./assets/avatar.png" alt="">
                        </div>
                        <div class="info-post">
                            <span class="name-user">GoVegan</span>
                            <span class="date">on 15 Oct 2019</span>
                        </div>
                    </div>
                    <div class="content">
                        <p class="description-preview"><span style="color: #0081FF;">#sweet
                                #healthy</span> Breakfast ideas
                        </p>
                    </div>
                    <div class="icon">
                        <div class="icon1">
                            <span id="favorite" class="material-symbols-outlined">
                                favorite
                            </span>
                            <span class="material-symbols-outlined">
                                chat_bubble
                            </span>
                        </div>
                        <span class="material-symbols-outlined">
                            ios_share
                        </span>
                    </div>
                </div>
            </div>
            <div class="post">
                <div class="image-post">
                    <img class="detail-image" src="./assets/picture1.png" alt="">
                </div>
                <div class="bottom">
                    <div class="user-info">
                        <div class="avatar-user">
                            <img class="avatar" src="./assets/avatar.png" alt="">
                        </div>
                        <div class="info-post">
                            <span class="name-user">GoVegan</span>
                            <span class="date">on 15 Oct 2019</span>
                        </div>
                    </div>
                    <div class="content">
                        <p class="description-preview"><span style="color: #0081FF;">#vegan
                                #healthy</span> Chocolate cake is a classic dessert that is loved by people of
                            all
                            ages. It is rich, decadent, and perfect for any occasion. It is quick and easy to
                            make.
                        </p>
                    </div>
                    <div class="icon">
                        <div class="icon1">
                            <span id="favorite" class="material-symbols-outlined">
                                favorite
                            </span>
                            <span class="material-symbols-outlined">
                                chat_bubble
                            </span>
                        </div>
                        <span class="material-symbols-outlined">
                            ios_share
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="column-post">
            <div class="post">
                <div class="image-post">
                    <img class="detail-image" src="./assets/picture1.png" alt="">
                </div>
                <div class="bottom">
                    <div class="user-info">
                        <div class="avatar-user">
                            <img class="avatar" src="./assets/avatar.png" alt="">
                        </div>
                        <div class="info-post">
                            <span class="name-user">GoVegan</span>
                            <span class="date">on 15 Oct 2019</span>
                        </div>
                    </div>
                    <div class="content">
                        <p class="description-preview"><span style="color: #0081FF;">#vegan
                                #healthy</span> Chocolate cake is a classic dessert that is loved by people of
                            all
                            ages. It is rich, decadent, and perfect for any occasion. It is quick and easy to
                            make.
                        </p>
                    </div>
                    <div class="icon">
                        <div class="icon1">
                            <span id="favorite" class="material-symbols-outlined">
                                favorite
                            </span>
                            <span class="material-symbols-outlined">
                                chat_bubble
                            </span>
                        </div>
                        <span class="material-symbols-outlined">
                            ios_share
                        </span>
                    </div>
                </div>
            </div>
            <div class="post">
                <div class="image-post">
                    <img class="detail-image" src="./assets/picture2.png" alt="">
                </div>
                <div class="bottom">
                    <div class="user-info">
                        <div class="avatar-user">
                            <img class="avatar" src="./assets/avatar.png" alt="">
                        </div>
                        <div class="info-post">
                            <span class="name-user">GoVegan</span>
                            <span class="date">on 15 Oct 2019</span>
                        </div>
                    </div>
                    <div class="content">
                        <p class="description-preview"><span style="color: #0081FF;">#sweet
                                #healthy</span> Breakfast ideas
                        </p>
                    </div>
                    <div class="icon">
                        <div class="icon1">
                            <span id="favorite" class="material-symbols-outlined">
                                favorite
                            </span>
                            <span class="material-symbols-outlined">
                                chat_bubble
                            </span>
                        </div>
                        <span class="material-symbols-outlined">
                            ios_share
                        </span>
                    </div>
                </div>
            </div>
        </div> -->
<!-- </div> -->
<!-- </div> -->