<div class="container">
  <tui-scrollbar> </tui-scrollbar>
  @for (item of users; track item) {
    <div class="col">
      <tui-island size="l" class="content">
        <div class="tui-island__content">
          <div class="tui-island__figure">
            <button
              tuiButton
              type="button"
              size="m"
              id="flBtn"
              appearance="custom"
              class="tui-space_right-3 tui-space_bottom-3"
            >
              Follow
            </button>
          </div>
          <div>
            <div class="top">
              <tui-avatar
                size="l"
                [rounded]="true"
                text="alex inkin"
              ></tui-avatar>
              <div class="left">
                <h3 class="tui-island__title">{{ item.name }}</h3>
                <p class="tui-island__category">&#64;{{ item.bio }}</p>
              </div>
            </div>

            <p class="tui-island__paragraph">
              {{ item.description }}
            </p>
            <div class="follower">
              <tui-avatar
                [rounded]="true"
                size="m"
                [text]="item.follower[0]"
                [autoColor]="true"
                id="fl-one"
              ></tui-avatar>
              <tui-avatar
                [rounded]="true"
                size="m"
                [text]="item.follower[1]"
                [autoColor]="true"
                id="fl-two"
              ></tui-avatar>
              <h4 class="tui-island__category">
                {{ item.follower.length }} followers
              </h4>
            </div>
          </div>
        </div>
      </tui-island>
    </div>
  }
</div>
