<!-- <div class="post-preview">
    <div class="post-preview1">
        <div class="post-preview2">
            <div>
                <h3>Create Post</h3>
            </div>
            <div class="form">
                <div class="drop-image">
                    <div>
                        <span class="material-symbols-outlined">
                            add_photo_alternate
                        </span>
                    </div>
                    <h3>
                        Drag And Drop Your Images Here
                    </h3>
                    <p id="paragraph">or <u id="browse">browse</u>
                        from
                        your computer
                    </p>
                </div>
                <div class="user-info">
                    <div class="user-img">
                        <img class="avatar" src="./asset/avatar.png" alt="avatar">
                    </div>
                    <div class="info">
                        <h3 class="name-user">GoVegan</h3>
                        <p class="date">on 15 Oct 2019</p>
                    </div>
                </div>
                <div class="description">
                    <input class="label" placeholder="label">
                    </input>
                </div>
                <div class="button-place">
                    <button class="button button1">Cancel</button>
                    <button class="button button2">Craft</button>
                </div>
            </div>
        </div>
    </div>
    <div class="post-preview-2">
        <h3>Post Preview</h3>
        <div class="preview">
            <div class="drop-image-preview">
                <div>
                    <span class="material-symbols-outlined">
                        add_photo_alternate
                    </span>
                </div>
                <h3>
                    Drag And Drop Your Images Here
                </h3>
                <p id="paragraph">or <u id="browse">browse</u>
                    from
                    your computer
                </p>
            </div>
            <div class="user-info">
                <div class="user-img">
                    <img class="avatar-preview" src="./asset/avatar.png" alt="avatar">
                </div>
                <div class="info">
                    <h3 class="preview-name">GoVegan</h3>
                    <p class="date">on 15 Oct 2019</p>
                </div>
            </div>
            <div class="paragraph-preview">
                <p class="description-preview"><span style="color: #0081FF;">#vegan
                        #healthy</span> Chocolate cake is a classic dessert that is loved by people of all
                    ages. It is rich, decadent, and perfect for any occasion. It is quick and easy to make.
                </p>
            </div>
            <div class="icon">
                <div class="icon1">
                    <span id="favorite" class="material-symbols-outlined">
                        favorite
                    </span>
                    <span class="material-symbols-outlined">
                        chat_bubble
                    </span>
                </div>
                <span style="padding-left: 100px;" class="material-symbols-outlined">
                    ios_share
                </span>
            </div>
        </div>
    </div>

</div>
</div> -->