<div class="content">
  <div class="container1">
    <div>
      <img class="img" src="assets/images/logo.png" alt=""/>
    </div>
    <div class="username">
      <p><b>&#64;LoremIpsum</b> followed on you</p>
      <p>3 hours ago</p>
    </div>
  </div>
  <div class="container2">
    <div class="body">
      <div>
        <img class="img1" src="assets/images/logo.png"  alt=""/>
      </div>
      <div>
        <div class="username">
          <p class="name"><b>&#64;LoremIpsum</b> commented on your post</p>
          <p>3 hours ago</p>
        </div>
        <div class="cmt">
          <p>Lorem Ipsum is simply dummy text of printing and typesetting industry. Lorem Ipsum
            has been the industry's standard dummy text ever since the 1500s</p>
        </div>
      </div>
    </div>
    <div>
      <img class="img2" src="assets/images/picture1.png" alt=""/>
    </div>
  </div>
  <div class="container1">
    <div>
      <img class="img" src="assets/images/logo.png" alt=""/>
    </div>
    <div class="username">
      <p><b>&#64;LoremIpsum</b> liked your post</p>
      <p>3 hours ago</p>
    </div>
  </div>
  <div class="container3">
    <div>
      <img class="img" src="assets/images/logo.png"  alt=""/>
    </div>
    <div>
      <div class="username">
        <p><b>&#64;LoremIpsum</b> want to invite you to ITSS</p>
        <p>3 hours ago</p>
      </div>
      <div style="display: flex; gap: 20px">
        <button
          appearance="custom"
          size="s"
          tuiButton
          type="button"
          class="acorn"
        >
          Accept
        </button>
        <button
          appearance="custom"
          size="s"
          tuiButton
          type="button"
          class="decor"
        >
          Decline
        </button>
      </div>
    </div>
  </div>
  <div class="container1">
    <div>
      <img class="img" src="assets/images/logo.png"  alt=""/>
    </div>
    <div class="username">
      <p><b>&#64;LoremIpsum</b> followed on you</p>
      <p>3 hours ago</p>
    </div>
  </div>
  <div class="container2">
    <div class="body">
      <div>
        <img class="img1" src="assets/images/logo.png"  alt=""/>
      </div>
      <div>
        <div class="username">
          <p class="name"><b>&#64;LoremIpsum</b> commented on your post</p>
          <p>3 hours ago</p>
        </div>
        <div class="cmt">
          <p>Lorem Ipsum is simply dummy text of printing and typesetting industry. Lorem Ipsum
            has been the industry's standard dummy text ever since the 1500s</p>
        </div>
      </div>
    </div>
    <div>
      <img class="img2" src="assets/images/picture1.png"  alt=""/>
    </div>
  </div>
</div>
