.content {
  display: flex;
  flex-flow: column wrap;
  margin-left: calc(100% / 3.8);
  margin-top: 20px;
}

.container1 {
  display: flex;
  gap: 3%;

  margin-left: 20px;

  .img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .username {
    line-height: 10px;
    font-size: 16px;
  }
}

.container2 {
  display: flex;
  gap: 13%;
  margin-bottom: 10px;

  .body {
    display: flex;
    gap: 9%;
    margin-left: 20px;
    font-size: 16px;
  }

  .username {
    line-height: 10px;
    width: 300px;
  }

  .cmt {
    background-color: rgba(128, 128, 128, 0.4);
    border-radius: 10px;
    padding: 5px 10px;
    width: 240px;
  }

  .img1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .img2 {
    width: 150px;
    height: 230px;
    border-radius: 8px;
  }
}

.container3 {
  display: flex;
  gap: 3%;
  margin-bottom: 10px;
  margin-left: 20px;

  .username {
    line-height: 10px;
    font-size: 16px;
  }

  .img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .acorn{
    background-color: rgb(255, 255, 255);
    color: black;
    border: 1px solid black;
    font-size: 16px;
    font-weight: bold;
  }

  .decor {
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: bold;
  }

  .btn2:hover {
    background-color: white;
    color: #000;
  }
}

@media (max-width: 770px) {
  .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 26%;
  }
  .container1 {
    .img {
      width: 30px;
      height: 30px;
    }

    .username {
      line-height: 10px;
      font-size: 10px;
    }

  }

  .container2 {
    gap: 8%;
    .body {
      display: flex;
      gap: 7%;
    }

    .img1 {
      width: 30px;
      height: 30px;
    }

    .username {
      line-height: 10px;
      font-size: 10px;

      .name {

        width: 200px;
      }
    }

    .img2 {
      width: 6rem;
      height: 7rem;
      border-radius: 8px;
    }

    .cmt {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 180px;
      font-size: 10px;
    }
  }

  .container3 {
    .img {
      width: 30px;
      height: 30px;
    }

    .username {
      line-height: 10px;
      font-size: 10px;
    }

    .btn1 {
      padding: 6px 12px;
      font-size: 12px;
      border-radius: 10px;
    }

    .btn2 {
      padding: 6px 12px;
      font-size: 12px;
      border-radius: 10px;
    }
  }
}
@media only screen and (max-width: 768px){}
