.main {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

}

.container {
  display: flex;
  gap: 25%;
  //margin: 10px 0 10px 100px;
  justify-content: center;
  align-items: center;
  margin-right: 0.5%;
  font-size: 16px;
  margin-top: 15px;

  .left {
    display: flex;
    gap: 9%;
  }

  .info {
    line-height: 10px;
    width: 315px;
  }

  .content {
    background-color: rgba(128, 128, 128, 0.4);
    border-radius: 10px;
    padding: 5px 10px;
    width: 240px;
  }

  .ava {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .img {
    width: 150px;
    height: 225px;
    border-radius: 8px;
    margin-top: 70px;
  }
}

@media (max-width: 800px) {
  .container {
    gap: 0;
    margin-left: 12%;

    .info {
      font-size: 10px;
    }

    .content {
      font-size: 9px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 150px;
      padding: 0 10px 5px 10px;
    }

    .ava {
      width: 30px;
      height: 30px;
    }

    .img {
      width: 80%;
      height: 40%;
      margin-top: 30px;
    }

    .right {
      width: 30%;
    }
  }
}
