<div class="main">

    <div class="left">
      <div class="boderSearch">
                        <span style=" font-size: 28px" class="material-symbols-outlined">
                            search
                        </span>
        <input type="text" placeholder="Placehoder">
      </div>
    </div>

    <div class="right">
      <div class="filter">
        <tui-tabs class="tuitab"
          tuiMobileTabs
          [(activeItemIndex)]="activeItemIndex"
        >
          <button
            *ngFor="let item of items; let i = index"
            tuiRipple="var(--tui-text-01)"
            tuiTab class="post"
            (click)="onActiveItemChange(i)"
          >
            <tui-svg
              [src]="item.icon"
              class="tui-space_right-2"
            ></tui-svg>
            {{ item.text }}
          </button>
        </tui-tabs>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>


