<div class="main">
  <div class="left">
    <div class="search-bar">
      <form class="b-form">
        <tui-input
          [formControl]="searchValue"
          tuiTextfieldIconLeft="tuiIconSearch"
          [tuiTextfieldLabelOutside]="true"
        >
          Search
          <input inputmode="text" tuiTextfield />
        </tui-input>
      </form>
    </div>
    <div class="tab-bar">
      <tui-tabs [(activeItemIndex)]="activeItemIndex" class="tab-bar-peo">
        <button
          *ngFor="let item of items; let i = index"
          tuiRipple="var(--tui-text-01)"
          tuiTab
          class="tab"
          (click)="onActiveItemChange(i)"
        >
          <tui-svg [src]="item.icon" class="tui-space_right-2"></tui-svg>
          {{ item.text }}
        </button>
      </tui-tabs>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
